<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/pratices/2010/unity" >
    <container name="default">
      <!-- Data Layer Mapping. -->
      <register type="BarterBuddy.Data.IData.ILoginDataRepository, BarterBuddy.Data"
                mapTo="BarterBuddy.Data.LoginDataRepository,BarterBuddy.Data"></register>

      <register type="BarterBuddy.Data.IData.ISettingsDataRepository, BarterBuddy.Data"
               mapTo="BarterBuddy.Data.SettingsDataRepository,BarterBuddy.Data"></register>

      
      <!-- Business Layer Mapping. -->
      <register type="BarterBuddy.Business.IBusiness.ILoginBusinessManager, BarterBuddy.Business"
                    mapTo="BarterBuddy.Business.LoginBusinessManager, BarterBuddy.Business"></register>
      <register type="BarterBuddy.Business.IBusiness.ISettingsBusinessManager, BarterBuddy.Business"
                    mapTo="BarterBuddy.Business.SettingsBusinessManager, BarterBuddy.Business"></register>
    </container>
  </unity>
</configuration>
