@using BarterBuddy.Resources.CommonResource
@{ 
    Layout = null;
}
@Html.Partial("_BlankLayout")
<style>
    .errorDiv {
        font: 700 125%/50px 'Raleway', sans-serif;
        color: #ffffff;
        position: relative;
        background: #0aa6d1;
        padding: 11px 60px 11px 29px;
        border-radius: 7px;
        border: 2px solid #0aa6d1;
        transition: all 0.3s ease-in-out 0s;
        -webkit-transition: all 0.3s ease-in-out 0s;
    }
    .media-body {
    margin-top:20px;
    }
</style>
<body class="home">
    <div class="wrapper">
        <header>
            <div class="headerMain">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12 logoMain">
                            <a href="@Url.Action("~/Login/Login")" title="Barter Buddy"><img src="@Url.Content("~/images/logo.png")" /></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-8 logoMain">
                            <h1>Something went wrong.</h1>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5"></div>
                        <div class="col-md-7 logoMain media-body">
                            <a href="@Url.Action("Login","Login")" class="errorDiv trans">Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
</body>