
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}

@using BarterBuddy.Resources.Common;
<div class="container">
    <div id="error" class="col-md-9 col-md-offset-2">
        <div class="media">
            <div class="media-left">
                <div class="">
                    <img src="~/Images/logIn.png" />
                </div>
            </div>
            <div class="media-body">
                <h1>@CommonResource.somethingiswrong</h1>
                <h4>@CommonResource.PageNotExist</h4>
                <a href="@Url.Action("Login","Login")" class="button">home0</a>
            </div>
        </div>
    </div>
</div>


